// @import 'vxe-table/styles/variable.scss';
$vxe-font-size: 13px;
$vxe-font-color: #fff;
$vxe-table-background-color: #323F60;
$vxe-table-header-background-color: #325093;
$vxe-table-body-background-color: $vxe-table-background-color;
$vxe-table-footer-background-color: $vxe-table-background-color;
$vxe-table-font-color: $vxe-font-color;
$vxe-primary-color: #325093;
$vxe-table-border-color: #325093;
$vxe-table-border-radius: 4px;
$vxe-table-row-striped-background-color: #314472;
// @import 'vxe-table/styles/modules.scss';